<h1>Display Table</h1>
<h2> By Kerry </h2>
<table>
	<thead>
    <tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>World</th>
		<th>Age</th>
    </tr>
	</thead>
    <tbody>
        {{#each data}}
            <tr>
                <td>{{this.fname}}</td>
                <td>{{this.lname}}</td>
				<td>{{this.homeworld}}</td>
				<td>{{this.age}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
